<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- reqbot stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/reqbot.css}" href="../../../static/css/reqbot.css" />
</head>
<body>
<div th:fragment="response-list">
    <h2>Response List</h2>

    <nav>
        <ul class="pagination">
            <li th:each="response, status : ${responses}">
                <a th:href="'#response-' + ${response.uuid}" th:text="${status.count}" href="#">1</a>
            </li>
        </ul>
    </nav>

    <div class="responses">
        <div th:each="response : ${responses}">
            <div th:replace="fragments/response/response(response=${response})">request goes here</div>
        </div>
    </div>
</div>
</body>
</html>