<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- reqbot stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/reqbot.css}" href="../../../static/css/reqbot.css" />
</head>
<body>
<div th:fragment="side-bar">
    <h4>Tags</h4>

    <ul id="tag-list">
        <li class="tag" th:each="t : ${tags}">
            <a th:href="@{/web/tag/{tag}(tag = ${t})}" href="#">
                <span class="label" th:classappend="${t == tag} ? label-success : label-primary"  th:text="${t}">tag</span>
            </a>
        </li>
    </ul>
    <div>
        <a th:href="@{/web/response/create}" href="#">
            <small>Create new response...</small>
        </a>
    </div>
</div>
</body>
</html>