<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- reqbot stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/reqbot.css}" href="../../../static/css/reqbot.css" />
</head>
<body>
<div th:fragment="request-list">
    <h2>Request List for <span th:text="${bucket}">bucket</span> bucket</h2>

    <nav>
        <ul class="pagination">
            <li th:each="request, status : ${requests}">
                <a th:href="'#request-' + ${request.uuid}" th:text="${status.count}" href="#">1</a>
            </li>
        </ul>
    </nav>

    <div class="requests">
        <div th:each="request : ${requests}">
            <div th:replace="fragments/request/request(request=${request})">request goes here</div>
        </div>
    </div>
</div>
</body>
</html>