<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- reqbot stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/reqbot.css}" href="../../../static/css/reqbot.css" />
</head>
<body>
<div th:fragment="request">
    <div id="request-1" th:id="'request-' + ${request.uuid}" class="request">
        <h4>
            <a href="#top">[top]</a>
            <span th:text="${request.timestamp}">timestamp</span>
        </h4>

        <div class="request-path">
            <span class="label label-default" th:classappend="'label-' + ${request.method}" th:text="${request.method}">method</span>
            <span th:text="${request.path}">path</span>
        </div>

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#1-headers" th:href="'#tab-' + ${request.uuid} + '-headers'"
                   data-toggle="tab">headers</a>
            </li>
            <li th:if="${request.queryParameters.size() > 0}">
                <a href="#1-queryparameters" th:href="'#tab-' + ${request.uuid} + '-queryparameters'"
                   data-toggle="tab">query parameters</a>
            </li>
            <li th:if="${!#strings.isEmpty(request.body)}">
                <a href="#1-body" th:href="'#tab-' + ${request.uuid} + '-body'" data-toggle="tab">body</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="1-headers"
                 th:id="'tab-' + ${request.uuid} + '-headers'">
                <div class="request-headers">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Header</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="header : ${request.headers}">
                            <td th:text="${header.key}">key</td>
                            <td th:if="${header.key == 'x-reqbot-response'}">
                                <a th:href="@{/responses/{response}(response = ${header.value})}" th:text="${header.value}" href="#">value</a>
                            </td>
                            <td th:if="${header.key != 'x-reqbot-response'}" th:text="${header.value}">value</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade in" id="1-queryparameters"
                 th:id="'tab-' + ${request.uuid} + '-queryparameters'">
                <div class="request-queryparameters">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="param : ${request.queryParameters}">
                            <td th:text="${param.key}">key</td>
                            <td th:text="${param.value}">value</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade in" id="1-body" th:id="'tab-' + ${request.uuid} + '-body'">
                <code th:text="${request.body}">request body</code>
            </div>
        </div>
    </div>
</div>
</body>
</html>
