<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- reqbot stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/reqbot.css}" href="../../../static/css/reqbot.css" />
</head>
<body>
<div th:fragment="side-bar">
    <h4>Buckets</h4>

    <ul id="bucket-list">
        <li class="tag" th:each="b : ${buckets}">
            <a th:href="@{/buckets/{bucket}(bucket = ${b})}" href="#">
                <span class="label" th:classappend="${b == bucket}? label-success : label-primary"  th:text="${b}">bucket</span>
            </a>
        </li>
    </ul>
    <div>
        <a href="#">
            <small>Create new...</small>
        </a>
    </div>
</div>
</body>
</html>